/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ---------------------
	MAIN STYLES
	------------------- */

	*,
	*:before,
	*:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}

	a {
		text-decoration: none;
	}

	body {
	font-family: arial,sans-serif;
	font-size: small;
	}

	li {
		list-style-type: none;
		display: inline-block;
		margin: 5px;
	}

	.header-nav li {
		width: 4%;
	}

	.header-nav li a {
		color: rgba(0,0,0,.86);
	}

	.container-img {
		width: 25px;
		height: auto;
		display: inline-block;
	}

	.container-img img {
		width: 100%;
		height: auto;
	}

	.header-nav {
		float: right;
		text-decoration: none;
	}

	main {
		padding-top: 200px;
	}

	main, #main-logo, #search-form, #mid-buttons {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	#main-logo {
		width: 280px;
	}

	#search-google, #mid-buttons {
		margin-top: 20px;
	}

	#search-google{
		width: 596px;
		height: 52px;
		border-radius: 40px;
		border-width: 0.5px;
	}

	#mid-buttons {
		margin-top: 2em;
	}

	#mid-buttons input {
		background-color: #f2f2f2;
		color: #5F6368;
		height: 36px;
		width: 160px;
		line-height: 23px;
		margin-right: 10px;
		border-radius: 4px;
		font-size: 14px;
	}

	/* 596x52 */
	.footer-top, .footer-bottom {
		padding: 20px;
		box-sizing: content-box;
		background-color: rgba(0,0,0,.06);
	}

	.footer-top {
		position: fixed;
		bottom: 40px;
		width: 100%;
		border: 1px solid #e4e4e4;
		display: inline-block;
		height: 0px;
 	}
 
 	.footer-bottom {
		position: fixed;
		bottom: 0;
		width: 100%;
		display: inline-block;
		height: 0px;
	 }
	 
	 .bottom-left-nav, .bottom-right-nav {
		 display: inline-block;
	 }

	 .bottom-left-nav, .bottom-right-nav, li {
		margin-right: 30px;
	 }

	 .bottom-right-nav {
		 float: right;
		 text-align: right;
		 width: 60%;
		 margin-right: 40px;
	 }

	 .bottom-left-nav {
		 width:30%;
	 }
 