/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ---------------------
	MAIN STYLES
	------------------- */

	body {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
	}

	a{
		text-decoration: none;
	}

	a:hover { 
		text-decoration: underline;
	}

	
	img {
		vertical-align: middle;
	}

	.header-nav{
		text-align: right;
		margin: 20px 30px 0 0;
	}

	.header-nav a, a:visited {
		margin-left: 8px;
		color: #000; opacity: 0.90;
	}

	.sign-in{
		width: 110px;
		height: 30px;
		border-radius: 2px;
		border: 1px solid #4285f4;
		font-weight: bold;
		color: white;
		background: -webkit-linear-gradient(top,#2e6fe0,#3878e7);
	}

	main {
		padding-top: 147px;
	}

	main, #main-logo, #search-form, #mid-buttons {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	#main-logo {
		width: 280px;
	}

	#search-google, #mid-buttons {
		margin-top: 20px;
	}

	#search-google{
		background-image: url(imgs/google-mic.png);
		background-size: auto 24px;
		background-repeat: no-repeat;
		background-position: 97% 50%;
		width: 586px;
   		height: 48px;
   		border-radius: 30px;
   		border:  1px solid lightgray;
	}

	#search-google:hover {
		box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.30);
		border-color: rgba(223,225,229,0);
	}

	#mid-buttons {
		margin-top: 2em;
	}

	#mid-buttons input {
		background-color: #f2f2f2;
		border-color: #f2f2f2;
		color: #5F6368;
		height: 36px;
		width: 158px;
		line-height: 23px;
		margin-right: 10px;
		border-radius: 4px;
		font-size: 14px;
	}

	#mid-buttons input:hover {
		color: #000; opacity: 0.90;
		border: 1px solid rgb(155, 155, 155);
	}

	footer {
		position: fixed;
		bottom: 0;
		width: 100%;
	}

	.country-div {
		height: 45px;
		background-color: #f2f2f2;
		border-top: 1px solid #e4e4e4;
		border-bottom: 1px solid #e4e4e4;
	}

	.country-div h4{
		padding-top: 15px;
		font-size: 15px;
		color: #5f6368; 
	}

	.bottom-navs {
		height: 45px;
		background-color: #f2f2f2;
	}

	.bottom-left-nav, .bottom-right-nav {
		 display: inline-block;
	 }

	 .bottom-left-nav a, .bottom-right-nav a{
		 color: #5f6368; 
		 display: inline-block;
		 padding-top: 15px;
	 }
	 
	 .bottom-right-nav {
		 float: right;
		 margin-right: 60px;
	 }

	 .bottom-right-nav a {
		 margin-left: 15px;
	 }


	 .country-div, .bottom-left-nav > a {
		 padding-left: 30px;
	 }


